In [27]:
import pandas as pd
import seaborn as sns
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt

In [28]:
df=pd.read_csv('cardio_train.csv',sep=';')

In [29]:
df

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,0,18393,2,168,62.0,110,80,1,1,0,0,1,0
1,1,20228,1,156,85.0,140,90,3,1,0,0,1,1
2,2,18857,1,165,64.0,130,70,3,1,0,0,0,1
3,3,17623,2,169,82.0,150,100,1,1,0,0,1,1
4,4,17474,1,156,56.0,100,60,1,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
69995,99993,19240,2,168,76.0,120,80,1,1,1,0,1,0
69996,99995,22601,1,158,126.0,140,90,2,2,0,0,1,1
69997,99996,19066,2,183,105.0,180,90,3,1,0,1,0,1
69998,99998,22431,1,163,72.0,135,80,1,2,0,0,0,1
69999,99999,20540,1,170,72.0,120,80,2,1,0,0,1,0

In [30]:
x=df.iloc[:,:-1]

In [31]:
x

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active
0,0,18393,2,168,62.0,110,80,1,1,0,0,1
1,1,20228,1,156,85.0,140,90,3,1,0,0,1
2,2,18857,1,165,64.0,130,70,3,1,0,0,0
3,3,17623,2,169,82.0,150,100,1,1,0,0,1
4,4,17474,1,156,56.0,100,60,1,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
69995,99993,19240,2,168,76.0,120,80,1,1,1,0,1
69996,99995,22601,1,158,126.0,140,90,2,2,0,0,1
69997,99996,19066,2,183,105.0,180,90,3,1,0,1,0
69998,99998,22431,1,163,72.0,135,80,1,2,0,0,0
69999,99999,20540,1,170,72.0,120,80,2,1,0,0,1

In [32]:
y=df.iloc[:,12]

In [33]:
y

0        0
1        1
2        1
3        1
4        0
        ..
69995    0
69996    1
69997    1
69998    1
69999    0
Name: cardio, Length: 70000, dtype: int64

In [34]:
from sklearn.model_selection import KFold

In [35]:
from sklearn.tree import DecisionTreeClassifier

In [36]:
model=DecisionTreeClassifier()

In [37]:
from sklearn.model_selection import cross_val_score

In [38]:
result=cross_val_score(model,x,y,cv=20)

In [39]:
print(result)

[0.56914286 0.62657143 0.632      0.62485714 0.63914286 0.64
 0.64342857 0.63285714 0.64942857 0.62371429 0.62285714 0.64171429
 0.65057143 0.63571429 0.63257143 0.64228571 0.638      0.61142857
 0.618      0.558     ]

In [40]:
result.mean()

0.6266142857142858